- link = login_url(:host => @host, :locale => I18n.locale)
%tr
	%td.person-name
		%h1
			= t("identification.email.common.hey", :name => PersonViewUtils.person_display_name_for_type(@person, "first_name_only"))
		%p
			Your Account has been Approved
		%p
			= render "admin2/emails/welcome_emails/default_email"
%tr
	%td.action-button
		%a.email-action-button{:href => link, :target => "_blank"}
			→
			= "Login"