- content_for :title_header do
	%h1= t("identification.after_upload_document.header")
.centered-section
	%p= t("identification.after_upload_document.after_upload_document", :name => PersonViewUtils.person_display_name_for_type(@current_user, "first_name_only"))
%br/
